<h1>プロフィールの編集</h1>

<!--Settingの変更フォーム-->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <!--アラート時のメッセージ表示-->
      <%= render 'shared/error_messages', object: f.object  %>

      <%= f.label :name, "名前"  %>
      <%= f.text_field :name, placeholder:"変更する名前", class: 'form-control' %>

      <%= f.label :email %>
      <%= f.text_field :email,placeholder:"変更するメールアドレス 6文字以上20文字以内", class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, placeholder:"変更するパスワード", class: 'form-control' %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, placeholder:"変更するパスワードの再確認", class: 'form-control' %>
      
      <%= f.label :location, "お住まい" %>
      <%= f.text_field :location, placeholder:"例：日本　東京都品川区", class: 'form-control' %>
      
      <%= f.label :profile, "自己紹介" %>
      <%= f.text_area :profile,  placeholder:"300文字以内", class: 'form-control' %>


      
      <%= f.submit "Change your profile", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>